<% if (!flash[:alert].nil?) #if there is a notice from any other pages %>
  <section id="register-error">
    <%= flash[:alert] %>
  </section>
<% else %>
  <section id="register-title">
    <p><%= t('login.text') %></p>
  </section>
<% end %>

<section id="register-content">
  <div class='container'>
    <div class="col-md-3"></div>
    <div class="col-md-6">
      <%= form_tag sessions_path do %>
        <div class="input-group">
          <span class="input-group-addon"><span class="glyphicon glyphicon-search"></span></span>
          <%= text_field_tag :username, nil, placeholder: t('login.loginormail'), class: 'form-control' %>
        </div>
        <div class="input-group">
          <span class="input-group-addon"><span class="glyphicon glyphicon-lock"></span></span>
          <%= password_field_tag :password, nil, placeholder: t('login.password'),class: 'form-control' %>
        </div>
        <div class="button-group">
          <%= submit_tag t('login.button'), class: 'btn btn-primary' %>
        </div>
      <%end%>
    </div>
  </div>
</section>