<% if(@user.errors.any?) %>
  <section id="register-error">
  <p><%= t('new.errors') %></p>
  <% for message in @user.errors.full_messages %>
    <li><%= message %></li>
  <% end %>
  </section>
<% else %>
    <section id="register-title">
      <p><%= t('new.create') %></p>
    </section>
<% end %>

<section id="register-content">
  <div class='container'>
    <div class="col-md-3"></div>
    <div class="col-md-6">
      <%= form_for @user do |f|  %>
          <div class="input-group">
            <span class="input-group-addon"><span class="glyphicon glyphicon-search"></span></span>
            <%= f.text_field  :username, class:'form-control', placeholder: t('new.username')%>
          </div>
          <div class="input-group">
            <span class="input-group-addon"><span class="glyphicon glyphicon-lock"></span></span>
            <%= f.text_field :password, type: 'password', class:'form-control', placeholder: t('new.password') %>
          </div>
          <div class="input-group">
            <span class="input-group-addon"><span class="glyphicon glyphicon-lock"></span></span>
            <%= f.text_field :password_confirmation, type: 'password', class:'form-control', placeholder: t('new.confirmation') %>
          </div>
        <div class="input-group">
          <span class="input-group-addon"><span class="glyphicon glyphicon-envelope"></span></span>
           <%= f.text_field  :email, class:'form-control', placeholder: t('new.email')  %>
        </div>
        <div class="input-group">
          <span class="input-group-addon"><span class="glyphicon glyphicon-user"></span></span>
          <%= f.text_field  :name, class:'form-control', placeholder: t('new.name') %>
        </div>
        <div class="input-group">
          <span class="input-group-addon"><span class="glyphicon glyphicon-user"></span></span>
          <%= f.text_field  :surname, class:'form-control', placeholder: t('new.surname') %>
        </div>
        <div class="button-group">
          <%= f.submit t('new.register'), class: "btn btn-primary" %>
        </div>
      <%end%>
    </div>
  </div>
</section>