<!-- Slideshow -->
<section id='header'>
  <div class='container'>
    <div class="row">
      <div class="col-md-3"></div>
      <div class="col-md-6 title"><%= t('home.community').html_safe %></div>
    </div>
  </div>
</section>

<!-- Login bar -->
<section id='login-bar'>
    <div class='container'>
        <input type="email" class="form-control" placeholder=<%= t('home.login_mail') %>>
        <input type="password" class="form-control" placeholder=<%= t('home.password') %>>
        <button class="button button-green"><%= t('home.login') %></button>
        <button class="button button-red"><%= t('home.register') %></button>
    </div>
</section>

<!-- Sneak peek -->
<section id="sneak-peek">
  <div class="container">
    <div class="row">
      <div class="col-sm-6">
        <%= t('home.text').html_safe %>
        <div class="features">
          <div class="box">
            <%= image_tag 'shop/icons/Magic@2x.png', :width => '100', :height => '100' %>
              <%= t('home.easy').html_safe %>
            </p>
          </div>
          <div class="box">
            <%= image_tag 'shop/icons/Responsive1@2x.png', :width => '100', :height => '100' %>
            <%= t('home.appli').html_safe %>
          </div>
          <div class="box">
            <%= image_tag 'shop/icons/Book@2x.png', :width => '100', :height => '100' %>
            <%= t('home.questions').html_safe %>
          </div>
        </div>
      </div>
      <div class="col-sm-4 col-sm-offset-2 text-center">
        <div id="sneak-peek_myCarousel" class="carousel slide">
          <div class="carousel-inner">
            <div class="item active">
              <%= image_tag 'shop/home/iPhone.png', :width => '302', :height => '635' %>
            </div>
            <div class="item">
              <%= image_tag 'shop/home/iPhone.png', :width => '302', :height => '635' %>
            </div>
            <div class="item">
              <%= image_tag 'shop/home/iPhone.png', :width => '302', :height => '635' %>
            </div>
          </div>
          <ol class="carousel-indicators">
            <li data-target="#sneak-peek_myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#sneak-peek_myCarousel" data-slide-to="1" class=""></li>
            <li data-target="#sneak-peek_myCarousel" data-slide-to="2" class=""></li>
          </ol>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Try it now -->
<section id="try-it-now">
  <div class="container">
    <span><%= t('home.slogan') %></span>
    <a class="btn btn-large btn-danger" href="#"><%= t('home.try') %></a>
  </div>
</section>