<nav class="navbar navbar-default" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Hosting Project</a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li class="active"><a href="#"><%= t('navbar.home') %></a></li>
        <li><a href="#"><%= t('navbar.features') %></a></li>
        <li><a href="#"><%= t('navbar.prices') %></a></li>
        <li><a href="#"><%= t('navbar.login') %></a></li>
        <li><a href="#"><%= t('navbar.signup') %></a></li>
      </ul>
    </div>
  </div>
</nav>